.mz-MZCKCS{
  width: 100%;

  table {
    width: 100%;
    
    .mat-column-s {
      flex: 0 0 15% !important;
      width: 15% !important;
    }
    .mat-column-a {
      flex: 0 0 15% !important;
      width: 15% !important;
    }
    .mat-column-d {
      flex: 0 0 70% !important;
      width: 70% !important;
    }
  }
}

  
